<mat-card class="main-fe">
    <form class="content-fe">
        <div class="img-fe">
            <img src="../../assets/googleLogo.jpg" width="100%" height="82%">
        </div>
        <div class="find-fe">Find your email</div>
        <div class="recovery-fe">Enter your phone number or recovery email</div>
        <div class="phone-fe">
            <mat-form-field appearance="outline" class="email-fe">
                <mat-label>Phone number or email</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="btn-fe">
            <button mat-flat-button color="primary" class="button-fe">Next</button>
        </div>
    </form>
</mat-card>