.main-cn {
    width: 38vw;
    height: 20vh;
    position: relative;
    left: 380px;
    top: 50px;
    display: flex;    
}
.form-cn {
    width: 100%;
    height: 100%;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content-cn {
    width: 95%;
    height: 40%;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-cn {
    width: 95%;
    height: 25%;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
}
.icons-cn {
    width: 55%;
    height: 100%;

}

.titDes-cn {
    width: 50%;
    height: 100%;
    border: 0px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pin-cn {
    width: 5%;
    height: 50%;
    border: 0px solid orange;
}
input {
    background-color: transparent;
    border: 0px solid;
    color: #CCC;
}
.create-cn {
    width: 15%;
    opacity: 0.65;
}