<mat-card class="main-si">
    <form class="content-si" [formGroup]="loginForm" >
        <div class="img-si">
            <img src="../../assets/googleLogo.jpg" height="90%" width="100%">
        </div>
        <div class="sign-si">Sign in</div>
        <div class="use-si">Use your Google Account</div>
        <div class="fields-si">
            <mat-form-field appearance="outline" class="mail-si">
                <mat-label>Enter your Email</mat-label>
                <input matInput formControlName="emailorphone">
                <mat-error>Enter valid Email</mat-error>
            </mat-form-field>
            <span class="text-si" routerLink="/forgotemail">Forgot Email?</span>
            <mat-form-field appearance="outline" class="mail-si">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
                <mat-error>Enter valid password</mat-error>
            </mat-form-field>
        </div>
        <div class="para-si">
            <span>Not your computer? Use Guest mode to sign in privately.</span>
            <span class="learn-si">Learn more</span>
        </div>
        <div class="btn-si">
            <button mat-flat-button class="create-si" routerLink="/register">Create account</button>
            <button mat-flat-button color="primary" class="next-si" (click)="onSubmit()" routerLink="/dashboard">Next</button>
        </div>
    </form>
</mat-card>